body { 
    background-color:  #0b1715;
    max-width:1440px;
}
.nav {
    position: absolute;
    top: 10px;
    width: 451px;
    height: 64px;
    list-style-type:none;
    background: #413f3f;
}
.nav1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 48px;
    top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav2 {
    position: absolute;
    width: 39px;
    height: 18px;
    left: 171px; 
    top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav3 {
    position: absolute;
    width: 51px;
    height: 18px;
    left: 258px;
    top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav4 {
    position: absolute;
    width: 36px;
    height: 18px;
    top: 22px;
    left: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 36px;
    left: 581px;
}
.nav-link {
    position: absolute;
    width: 44px; ;
    height: 18px;
    top: 48px;
    left: 1280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;    
}
.section1-title {
    position: absolute;
    width: 1274px;
    height: 263px;
    left: 67px;
    top: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 160px;
    color: #FFFFFF;
    z-index: 1;
}
.section1-text {
    position: absolute;
    width: 400px;
    height: 54px;
    left: 63px;
    top: 733px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.btn-setion1 {
    position: absolute;
    top: 813px;
    left: 64px;
    width: 336px;
    height: 64px;
    background: #40CDA0;
}
.btn-text-section1 {
    position: absolute;
    width: 134px;
    height: 13px;
    top: 25px;
    left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.layer {
    position: absolute;
    width: 833px;
    height: 550px;
    left: 640px;
    top: 400px;
    background: url(Layer.png);
}
.btn-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 336px;
    padding: 0px;
    width: 64px;
    height: 64px;
    background: #40CDA0;
}
.btn-img-svg {
    margin-right:20px;
}
.section1-text1 {
    position: absolute;
    width: 79px;
    height: 13px;
    left: 64px;
    top: 927px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #40CDA0;
}
.section1-text2 {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 64px;
    top: 997px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    
}
.section1-text3 {
    position: absolute;
    width: 815px;
    height: 1072px;
    left: 537px;
    top: 999px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color:#FFFFFF;
}
.section2-text1 {
    position: absolute;
    width: 49px;
    height: 13px;
    left: 64px;
    top: 1700px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 13px;
    color: #40CDA0;
    
}
.section2-title1 {
    position: absolute;
    width: 1312px;
    height: 263px;
    left: 64px;
    top: 1712px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 95%;
    color: #FFFFFF;
}
.section2-text2 {
    position: absolute;
    width: 898px;
    height: 180px;
    left: 271px;
    top: 2162px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.btn-setion2 {
    position: absolute;
    top: 2360px;
    left: 280px;
    width: 226px;
    height: 64px;
    background: #40CDA0;    
}
.btn-text-section2 {
    position: absolute;
    width: 200px;
    height: 15px;
    top: 30px;
    left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.btn-img1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-left: 225px;
    background: #40CDA0;
}
.btn1-setion2 {
    position: absolute;
    top: 2360px;
    left: 600px;
    width: 226px;
    height: 64px;
    background: #40CDA0;   
}
.btn1-text-section2 {
    position: absolute;
    width: 200px;
    height: 15px;
    top: 30px;
    left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.btn-img2 {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-left: 225px;
    background: #40CDA0;
}
.Frame11 {
    position: absolute;
    width: 1126px;
    height: 724px;
    left: 85px;
    top: 2500px;
    background: url(Skärmavbild.png), #212226;
    box-shadow: 0px 3.96629px 50.6904px rgba(0, 0, 0, 0.33);
    border-radius: 16.8968px;
}
.section3 {
    margin-top: 3328px;
}
.section3-title2 {
    position: absolute;
    width: 889px;
    height: 288px;
    left: 284px;
    top: 3100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    color: #FFFFFF;
}
.section3-container {
    display: flex;
    flex-direction: row;
    
}
.section3-container1 {
    margin-top: 335px;
    height: 758px;
    width: 656px;
    background: #222528;
}
.section3-container1-img {
    padding-top: 110px;
    padding-left: 91px;
}
.section3-container1-text1 {
    width: 151px;
    height: 13px;
    margin-left: 27px;
    margin-top: 25px;
    font-family:  'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}
.section3-container1-text2 {
    width: 151px;
    height: 13px;
    margin-left: 474px;
    margin-top: -25px;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;  
    text-align: right;
    color: #40CDA0;
}
.section3-container2-text {
    display: flex;
    flex-direction: column;
}
.section3-container2 {
    padding-top: 48px;
    padding-left: 48px;
    margin-top: 335px;
    height: 710px;
    width: 656px;
    background: #222528;
}
.section3-container2-title {
    width: 553px;
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
    
}
.section3-container2-text1 {
    width: 553px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.section3-container2-text2 {
    width: 553px;
    height: 362px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.section3-container3 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.section3-container3-img {
    width: 10px;
    height: 10px;

}
.section3-container3-img1 {
    width: 10px;
    height: 10px;

}
.section3-container3-img2 {
    width: 10px;
    height: 10px;  
}
.section3-container4 {
    display: flex;
    flex-direction: column;  
}
.section3-container4-text {
position: absolute;
width: 180px;
height: 84px;
left: 700px;
top: 4306px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
}
.section3-container4-text1 {
    position: absolute;
    width: 180px;
    height: 84px;
    left: 700px;
    top: 4334px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.section3-container4-text2 {
    position: absolute;
    width: 180px;
    height: 84px;
    left: 700px;
    top: 4363px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.section3-container5 {
    display: flex;
    flex-direction:column;
    gap: 18px;
}
.section3-container5-img3 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4326px;
    left:970px;     
}
.section3-container5-img4 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4352px;
    left:970px;
}
.section3-container5-img5 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4380px;
    left:970px;
}
.section3-container6-text {
    position: absolute;
    width: 180px;
    height: 84px;
    left: 1000px;
    top: 4308px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.section3-container6-text1 {
    position: absolute;
    width: 180px;
    height: 84px;
    left: 1000px;
    top: 4334px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.section3-container6-text2 {
    position: absolute;
    width: 180px;
    height: 84px;
    left: 1000px;
    top: 4363px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.section3-container7-text {
    position: absolute;
    width: 553px;
    height: 61px;
    top: 4375px;
    left:200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.section3-container7-text1 {
    position: absolute;
    width: 553px;
    height: 30px;
    left:200px;
    top:4475px ;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

